<!DOCTYPE html>
<html lang="en">
<%-include('./partials/head.ejs') %>

    <body>
        <%- include('./partials/nav.ejs') %>
            < class="blogs content">
                <h2>
                    <%= title %>
                </h2>
                <hr>              
                
                    <% if(posts.length> 0){
                        posts.forEach((post)=>{
                        %>
                        <div class="card mb-2">
                        <h5 class="card-header"><%=post.createdAt.toLocaleDateString() %></h5>
                        <div class="card-body">
                            <h5 class="card-title"><%=post.title %></h5>
                            <p class="card-text mb-3"><%=post.snippet%></p>
                            <a href="/posts/<%=post._id%>" class="btn btn-primary">Read More</a>
                        </div>
                    </div>
                    <% }) 
                    } else{ %>
                            <h3>No records</h3>
                    <% } %>
            </div>
            <%- include('./partials/footer.ejs')%>
    </body>

</html>